/* Estilo para el cuerpo y reseteo de márgenes */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #818181;
}

/* Estilo para el botón de inicio */
.botonInicio {
    text-align: left;
    margin-bottom: 20px;
}

div.botonInicio a {
    color: #050101;
}

/* Estilo para el título */
.title {
    font-family: Arial, sans-serif;
    color: #050101;
    font-weight: bold;
    font-size: xx-large;
}

/* Contenedor principal */
.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

/* Estilo para los íconos */
svg {
    width: 30px;
}

/* Estilos para la barra de navegación */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Estilo para el ícono del carrito */
.icon-cart {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
}

.icon-cart svg {
    width: 24px;
    height: 24px;
}

.icon-cart span {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* Animación o destello del ícono del carrito */
.cart-icon-flash {
    animation: cartFlash 0.5s ease-out;
}

@keyframes cartFlash {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos para la lista de productos */
.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* Estilo para las imágenes de productos */
.listProduct .item img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 100%; /* Asegura que el ancho máximo sea 100% */
    height: auto; /* Ajusta la altura automáticamente */
    filter: drop-shadow(0 50px 20px rgba(27, 26, 26, 0.6));
}

/* Estilos para el carrito */
.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px; /* Inicia fuera de la pantalla */
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 10000;
}

/* Mostrar el carrito al activar la clase showCart en el body */
body.showCart .cartTab {
    right: 0;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

.totalCart {
    text-align: right;
    margin-top: 0px;
}

.title-text {
    text-align: center;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-icons a {
    margin: 0 10px;
}

.contact-icons img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.contact-icons img:hover {
    border: 2px solid #333;
    border-radius: 50%;
}

.newsletter {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

.newsletter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.newsletter span {
    display: inline-block;
    padding-right: 30px;
    animation: marquee 10s linear infinite;
}

.checkout-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 18px;
    text-align: center;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 770px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

